<!DOCTYPE html>
<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <h1> Submit your information</h1>
        <form action="C:\Users\fadhl\Desktop\RAIN\Flask\templates\thank_you.html" method="post">
            <label for ="name">Name:</label>
            <input type="text" id="name" name="name"><br><br>
            <label for ="age">Age:</label>
            <input type="number" id="age" name="age"><br><br>
            <label for ="email address">Email address:</label>
            <input type="email" id="email" name="email"><br><br>
            <label for ="amount "></label>Amount:</label>
            <input type="number" id="amount" name="amount"><br><br>
            <input type="submit" value="submit">

        </form>
    </body>















</html>